.container {
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
}

.floating-container {
	position: fixed;
	left: 10px;
	right: 10px;
	top: 10px;
	border: solid 1px #eee;
	border-radius: 15px;
	background: #f8f8f8;
	padding: 10px;
}

.inner-container {
	padding: 10px;
}

.playing {
	border-radius: 3px;
	border: solid 1px lightgray;
	padding: 5px;
	margin-right: 10px;
	width: 200px;
	height: 100px;
	overflow: hidden;
	float: left;
	white-space: nowrap;
}

body {
	font-family: Helvetica;
	font-size: 10pt;
}

.search-title {
	font-size: 24pt;
}

.controls {
	font-size: 18pt;
}

button {
	font-size: 9pt;
	border: solid 1px lightgray;
	border-radius: 3px;
}

button[playing] {
	background-color: darkgray;
	color: white;
}

button[loading] {
	color: #CCF;
}

input {
	font-size: 10pt;
}
