.container {
	border: solid 1px white;
	border-radius: 15px;
	background: #eee;
	padding: 20px;
}

body {
	font-family: Helvetica;
	font-size: 10pt;
}

button {
	font-size: 9pt;
	border: solid 1px lightgray;
	border-radius: 3px;
}

button[playing] {
	background-color: darkgray;
	color: white;
}

button[loading] {
	color: #CCF;
}

input {
	font-size: 10pt;
}
