<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Freesound A-Frame</title>
    <meta name="description" content="Freesound A-Frame">
    <script src="lib/aframe.min.js"></script>
  </head>
  <body>
    <a-assets>
      <a-mixin id='red-metal' material="color: red; src: url(lib/moon.png)"></a-mixin>
      <a-mixin id='yellow-metal' material="color: #FFC65D; src: url(lib/moon.png);"></a-mixin>
      <a-mixin id='gray-metal' material="color: #999999; src: url(lib/moon.png)"></a-mixin>
      <a-mixin id='white-light' material="color: #FFFFFF; transparent: true;" light="type: point; color: #FFF; intensity: 1.0" ></a-mixin>
    </a-assets>
    <a-scene id='scene'>
        <a-sky color="#fff"></a-sky>
        <a-entity light="type: ambient; color: #999"></a-entity>

	    {{{body}}}

      </a-scene>
  </body>
</html>
