.App {
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.description {
	display: inline;
	vertical-align: middle
}

.description a {
	padding-left: 5px;
	text-decoration: none;
	color: #555;
}

.player {
	padding-left: 10px;
	display: inline;
	font-weight: bold;
	float: right;
	vertical-align: middle
}

.list {
	padding: 15px;
	background-color: #efefef;
	border-radius: 15px;
	margin-bottom: 10px;
}

.listTitle {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 3px;
	padding-bottom: 5px;
	border-bottom: solid 3px lightgray;
	vertical-align: middle
}

.meter {
	border: solid 1px darkgreen;
}

.timeLabel {
	display: inline-block;
	width: 4em;
	text-align: right;
	font-family: monospace;
	vertical-align: middle
}

.soundnameLabel {
	display: inline-block;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle
}

.stop {
	background-color: red;
}

button {
	font-size: 12pt;
	margin-right: 5px;
}

input[type=text] {
	font-size: 14pt;
}

input[type=number] {
	font-size: 14pt;
}

input[type=submit] {
	font-size: 16pt;
}
