.App {
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eee;
}

.description {
	padding-left: 10px;
	display: inline;
}

.player {
	padding-left: 10px;
	display: inline;
	font-weight: bold;
}

.freesound {
	padding-top: 5px;
	padding-top: 5px;
}
