.App {
  padding: 10px;
}

.logotype {
	font-size: 20pt;
	padding: 10px;
	display: flex;
	align-items: top;
	justify-content: flex-start;
	overflow: hidden;
	position: sticky;
	top: 0px;
	margin-bottom: 3px;
	background-color: #d1db97;
}

.material-icons.smaller {
	font-size: 14pt;
}

a:link {
	color: black;
}