.list {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	padding: 10px 10px 10px 10px;
}

.playing {
	grid-template-rows: 120px auto;
}

.numberInput {
	width: 5em;
	margin-right: 5px;
}

.listTitle {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	background-color: #c2dceb;
	position: sticky;
	top: 0px;
	margin-bottom: 3px;
}

.listTitleText {
	margin-left: 10px;
	margin-right: 10px;
}

.searchContainer {
	border: solid 1px #eaeaea;
	margin-bottom: 10px;
}

.freesound-summary {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	border: solid 1px #eaeaea;
}

.freesound-summary a {
	text-decoration: none;
}

.freesound-summary-ready {
	color: black;
}

.freesound-summary-playing {
	background-color: #eaeaea;
}

.freesound-summary-loading {
	color: darkgray;
}

.playerButton {
	padding: 0px;
}
