input[type=number] {
	font-size: 14pt;
}

.list {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	padding: 15px 30px 15px 15px;
}

.numberInput {
	width: 3em;
}

.listTitle {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	background-color: #efefef;
	position: sticky;
	top: 0px;
	margin-bottom: 3px;
}

.searchContainer {
	border: solid 1px lightgray;
	margin-bottom: 30px;

}

.freesound-summary {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	border: solid 1px lightgray;
}

.freesound-summary-ready {
	color: black;
}

.freesound-summary-playing {
	background-color: #b3e6b3;
}

.freesound-summary-loading {
	color: darkgray;
}

.playerButton {
	padding: 0px;
}

.waveform {
	padding-left: 3px;
	padding-right: 3px;
}
