
.freesound {
	overflow: hidden;
	padding: 10px;
	text-align: right;
	height: 110px;
}

.freesound-ready {
	color: black;
}

.freesound-playing {
	background-color: #eaeaea;
}

.freesound-loading {
	color: darkgray;
}

.playerButton {
	color: #777;
	border: solid 1px;
	border-radius: 3px;
	margin-right: 2px;
	display: block;
	width: 20px;
	height: 20px;
}

.playerButton:hover {
	cursor: pointer;
}

.playerTopLine {
	padding: 3px 3px 15px 3px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}
