

/* colors inspired by Basic Blue Green at https://timbdesign.com/website-color-schemes */

.searchForm {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #b0d59b;
}

input[type=text] {
	font-size: 14pt;
}

