

/* colors inspired by Basic Blue Green at https://timbdesign.com/website-color-schemes */

.searchForm {
	padding: 10px;
	display: flex;
	align-items: top;
	justify-content: flex-start;
	overflow: hidden;
	position: sticky;
	top: 0px;
	margin-bottom: 3px;
	background-color: #b0d59b;
}
